[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"

# Helpful defaults
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 200

# If you use env vars in scripts
ffi = false

